@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  color: #8d96bd;
}

.section-outer {
  border-bottom: 1px solid #c7d3ff;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-inner--wide {
  max-width: 1200px;
}

.input {
  background: #e9efff;
  padding: 12px 16px;
  font-size: 12px;
  color: #7a85ad;
  border: 1px solid transparent;
  border-radius: 2px;
}

.input--size-lg {
  padding: 20px 24px;
  border-radius: 4px;
}

.btn {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  padding: 12px 16px;
  bottom: 0;
  border: 1px solid transparent;
  background: none;
  border-radius: 2px;
  white-space: nowrap;
  transition: 0.2s;
  text-decoration: none;
  cursor: pointer;
}

.btn--size-lg {
  padding: 20px 60px;
  border-radius: 4px;
}

.btn--primary {
  color: #3a79ff;
  background-color: #c7d3ff;
}

.btn--primary:hover {
  background-color: #aebfff;
}

.btn--danger {
  color: #d43f3f;
  background-color: #ffd7d7;
}

.btn--danger:hover {
  background-color: #ffbebe;
}

.btn--secondary {
  color: #ffffff;
  background-color: #4c85ff;
}

.btn--secondary:hover {
  background-color: darken #4c85ff, 5%;
}

.btn--secondary-inverted {
  color: #495174;
  background-color: #ffffff;
}

.btn--secondary-inverted:hover {
  background-color: #f2f2f2;
}

.btn--grayscale {
  color: #7382a3;
  background-color: #f5f8ff;
}

.btn--grayscale:hover {
  background-color: #dce6ff;
}

.btn--no-bg {
  border: 1px solid #c7d3ff;
  color: #adb4d2;
}

.btn--no-bg:hover {
  color: #8c96c0;
  border: 1px solid #8c96c0;
}

.btn--no-bg-inverted {
  color: #c7d3ff;
  border-color: #e9efff;
}

.btn--no-bg-inverted:hover {
  color: #fafbff;
  border-color: #d0dcff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

h2 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 16px;
  font-size: 10px;
  text-transform: uppercase;
  color: #3d4f9f;
}

.section-subtitle {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 28px;
  font-size: 48px;
  color: #3d4f9f;
}

.ta-c {
  text-align: center;
}

.dots {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.dots__item {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #c7d3ff;
  transition: 0.2s;
  cursor: pointer;
}

.dots__item--active {
  background-color: #3a79ff;
}

.dots__item + .dots__item {
  margin-left: 12px;
}

.btn-group {
  display: inline-flex;
}

.btn-group .btn:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group .btn:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.section-header .section-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.logo__link {
  display: block;
  background-color: #5e81fe;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

.nav {
  margin-left: 72px;
}

.nav-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-wrapper__item + .nav-wrapper__item {
  margin-left: 40px;
}

.nav-wrapper__item-link {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  color: #495174;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s;
}

.nav-wrapper__item-link:hover {
  color: -200;
}

.nav-wrapper__item-link--active {
  font-weight: 700;
  color: #6188ff;
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.socials-wrapper__item + .socials-wrapper__item {
  margin-left: 40px;
}

.socials-wrapper__item-link path {
  fill: #495174;
  transition: 0.2s;
}

.socials-wrapper__item-link:hover path {
  fill: #6188ff;
}

.btn-wrapper {
  margin-left: 44px;
}

.section-hero-image {
  position: relative;
}

.section-hero-image .dots {
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-hero-image {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-hero-image__item {
  text-align: center;
  height: 560px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.slider-hero-image__item-content .section-subtitle {
  font-weight: 300;
}

.slider-hero-image__item-content .section-subtitle span {
  font-weight: 500;
}

.slider-hero-image__item-content .text {
  max-width: 60%;
  margin: 0 auto 20px;
  line-height: 2;
}

.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background-color: #ffffff;
  border-radius: 100%;
  box-shadow: 0 8px 48px rgba(174, 184, 208, 0.6);
}

.icon-play svg {
  width: 12px;
  height: 12px;
}

.section-customers .section-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-customers .section-inner a {
  opacity: 0.3;
  transition: 0.2s;
}

.section-customers .section-inner a:hover {
  opacity: 1;
}

.section-plan-and-manage {
  position: relative;
  background-color: #f5f8ff;
  overflow: hidden;
}

.section-plan-and-manage__content {
  width: 50%;
}

.section-plan-and-manage__content .aside-image {
  position: absolute;
  top: 0;
  left: 50%;
}

.section-plan-and-manage__content .section-subtitle {
  font-weight: 300;
}

.section-plan-and-manage__content .section-subtitle span {
  font-weight: 500;
}

.section-plan-and-manage__content .text {
  margin-bottom: 48px;
  line-height: 2;
}

.section-plan-and-manage__content .btn-group svg {
  margin-left: 4px;
}

.section-features {
  background: url(../img/bg-features-clouds.svg) no-repeat 50% 50%;
}

.section-features .section-subtitle {
  font-weight: 500;
  font-size: 24px;
}

.section-features .btns {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
  margin: 0 0 100px;
  text-align: center;
}

.features-list__item {
  flex-basis: 25%;
  position: relative;
}

.features-list__item:not(:first-child) {
  margin-left: 40px;
}

.features-list__item:not(:first-child)::before {
  position: absolute;
  top: 120px;
  left: -34px;
  content: '';
  height: 1px;
  width: 28px;
  background-color: #c7d3ff;
}

.features-list__item-icon {
  display: flex;
  align-items: center;
  margin: 0 auto 32px;
  justify-content: center;
  width: 68px;
  height: 68px;
  background-color: #f5f8ff;
  border-radius: 100%;
}

.features-list__item-title {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 28px;
  font-size: 15px;
  font-weight: 700;
  color: #4074f8;
}

.features-list__item-text {
  line-height: 2;
  font-size: 12px;
}

.or-block {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 40px;
  margin: 0 16px;
}

.or-block::before, .or-block::after {
  display: block;
  width: 16px;
  height: 1px;
  background-color: #c7d3ff;
  content: '';
}

.or-block::before {
  margin-right: 16px;
}

.or-block:after {
  margin-left: 16px;
}

.section-stats {
  display: flex;
  background-color: #e9efff;
}

.section-stats__icon {
  margin-bottom: 24px;
}

.section-stats__number {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 28px;
  font-size: 48px;
}

.section-stats__text {
  font-family: 'Quicksand', sans-serif;
  width: 40%;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}

.section-stats__left, .section-stats__right {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 64px 88px;
}

.section-stats__left {
  background-color: #6888ff;
  text-align: right;
  color: #ffffff;
  align-items: flex-end;
}

.section-stats__right {
  color: #5e80ff;
}

.section-blog {
  background-color: #f5f8ff;
}

.section-blog .section-subtitle {
  font-size: 24px;
  font-weight: 500;
}

.slider-wrapper {
  margin-bottom: 100px;
  position: relative;
}

.slider-blog {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #c7d3ff;
  box-shadow: 0 12px 48px #c7d3ff;
}

.slider-blog__item {
  display: flex;
  padding: 64px 32px;
}

.slider-blog__item-gallery, .slider-blog__item-content {
  flex-basis: 45%;
}

.slider-blog__item-gallery {
  display: grid;
  grid-template-rows: repeat(2, 120px);
  grid-template-columns: repeat(3, 120px);
  grid-gap: 16px;
}

.slider-blog__item-gallery .image-link {
  display: block;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 16px 100px #f5f8ff;
}

.slider-blog__item-gallery .image-link .loupe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 64px;
  height: 64px;
  background: #ffffff url(/img/icon-loupe.svg) no-repeat 50% 50%;
  border-radius: 100%;
  opacity: 0;
  transition: 0.2s;
}

.slider-blog__item-gallery .image-link:hover .loupe {
  opacity: 1;
}

.slider-blog__item-gallery .image-link img {
  width: 100%;
  height: 100%;
}

.slider-blog__item-gallery .image-link::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.7;
}

.slider-blog__item-gallery .image-link--b {
  grid-row: 1/3;
  grid-column: 1/3;
}

.slider-blog__item-gallery .image-link--b::before {
  background: linear-gradient(transparent, #ffc735);
}

.slider-blog__item-gallery .image-link--s-1 {
  grid-row: 1/2;
  grid-column: 3/4;
}

.slider-blog__item-gallery .image-link--s-1::before {
  background: linear-gradient(transparent, #ff3535);
}

.slider-blog__item-gallery .image-link--s-2 {
  grid-row: 2/3;
  grid-column: 3/4;
}

.slider-blog__item-gallery .image-link--s-2::before {
  background: linear-gradient(transparent, #35aaff);
}

.slider-blog__item-content {
  margin-left: 10%;
}

.slider-blog__item-content h3 {
  margin-bottom: 28px;
  font-size: 36px;
  color: #3d4f9f;
}

.slider-blog__item-content .text {
  font-size: 15px;
  line-height: 2;
  margin-bottom: 40px;
}

.btn-blog {
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  background: url(/img/icon-blog-arrow.svg) no-repeat 50% 50%;
}

.btn-blog--prev {
  right: 100%;
  margin-right: 64px;
  transform: translateY(-50%);
}

.btn-blog--next {
  left: 100%;
  transform: translateY(-50%) rotate(180deg);
  margin-left: 64px;
}

.section-quotes {
  background: linear-gradient(#eaebff, #f5f8ff);
}

.section-quotes .section-inner {
  display: flex;
  justify-content: space-between;
}

.section-quotes .section-inner .section-subtitle {
  font-size: 36px;
  font-weight: 500;
}

.section-quotes__left, .section-quotes__right {
  flex-basis: 45%;
}

.section-quotes__left .text {
  line-height: 2;
}

.slider-quotes {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 80px;
}

.slider-quotes__item {
  padding: 40px 68px 60px;
  background-color: #ffffff;
  border: 1px solid #f5f8ff;
  position: relative;
  box-shadow: 0 4px 48px #f5f8ff;
}

.slider-quotes__item-text {
  font-size: 15px;
  line-height: 2;
  color: #676f95;
}

.slider-quotes__item-photo {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #ffffff;
  transform: translateX(-50%);
}

.section-faq .section-inner .section-subtitle {
  font-size: 24px;
  font-weight: 500;
}

.faq-accordion {
  margin: 0;
  padding: 0;
  list-style: none;
}

.faq-accordion__item {
  border-bottom: 1px solid #c7d3ff;
}

.faq-accordion__item--active .arrow {
  stroke: #495174;
}

.faq-accordion__item--active .faq-accordion__item-trigger-icon {
  transform: rotate(0);
}

.faq-accordion__item--active .faq-accordion__item-trigger-text {
  font-weight: 700;
  color: #495174;
}

.faq-accordion__item--active .faq-accordion__item-content {
  display: flex;
}

.faq-accordion__item-trigger {
  display: flex;
  cursor: pointer;
  padding: 16px;
}

.faq-accordion__item-trigger-icon {
  width: 16px;
  margin-right: 16px;
  text-align: center;
  transform: rotate(180deg);
}

.faq-accordion__item-trigger-icon .arrow {
  stroke: #8e96b7;
}

.faq-accordion__item-trigger-text {
  font-size: 15px;
}

.faq-accordion__item-content {
  display: none;
  padding: 0 16px 16px 48px;
}

.faq-accordion__item-content-text {
  flex-grow: 1;
  line-height: 2;
  font-size: 15px;
}

.faq-accordion__item-content-btn {
  margin-left: 60px;
}

.section-get-started {
  text-align: center;
  color: #ffffff;
  position: relative;
  background: linear-gradient(#6888ff, #5e80ff);
}

.section-get-started::before {
  background: url(/img/bg-clouds.svg) no-repeat 50% 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 5;
  content: '';
}

.section-get-started .section-inner {
  z-index: 10;
  position: relative;
}

.section-get-started .section-inner h2 {
  color: #ffffff;
}

.section-get-started .section-inner .section-subtitle {
  font-weight: 300;
  color: #ffffff;
}

.section-get-started .section-inner .section-subtitle span {
  font-weight: 500;
}

.section-get-started .section-inner .text {
  line-height: 2;
  max-width: 60%;
  margin: 0 auto 40px;
}

.section-newsletter {
  background-color: #f5f8ff;
}

.section-newsletter .section-inner {
  display: flex;
  justify-content: space-between;
}

.section-newsletter__left {
  flex-basis: 35%;
}

.section-newsletter__left-title {
  font-family: 'Quicksand', sans-serif;
  text-transform: none;
  font-size: 18px;
  font-weight: 700;
  color: #3d4f9f;
  margin-bottom: 16px;
}

.section-newsletter__left-text {
  line-height: 2;
  font-size: 15px;
}

.section-newsletter__right {
  flex-basis: 60%;
}

.form-newsletter {
  display: flex;
}

.form-newsletter__input {
  flex-grow: 1;
}

.form-newsletter__btn {
  margin-left: 12px;
}

.section-footer {
  border-bottom: 0;
}

.section-footer .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.copyright {
  font-family: 'Quicksand', sans-serif;
  color: #aeb8d0;
  margin-top: 28px;
  margin-left: 96px;
  font-weight: 500;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */